.footer {
    text-align: center;
    margin-top: 50px;
  }
  
  .footer p {
    padding: 50px;
  }
  
  .footer span {
    color: red;
  }
  
  .hr {
    opacity: 10;
    margin: 0;
    padding: 3px;
  }