.title {
    font-size: 100px;
    font-family: 'Playfair';
    font-weight: normal;
    text-align: center;
  }
  
  .title span {
    color: red;
  }

.SearchBox {
    margin: auto;
    margin-top: 5%;
    box-sizing: border-box;
    width: 350px;
}

.SearchBox input{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 250px;
    background: #f1f1f1;
}

.SearchBox button{
    float: left;
    width: 70px;
    padding: 10px;
    background-color: rgb(255, 68, 0);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 0;
}

.hr {
  opacity: 10;
  margin: 0;
  padding: 3px;
}