.head {
    text-align: center;
    font-size: 100px;
    font-weight: normal;
}

h1{
    font-size: 50px;
    font-family: serif;
}

hr{
    background-color: black;
    margin-top: 5px;
}

.searchBox {
    margin: auto;
    margin-top: 5%;
    box-sizing: border-box;
    width: 350px;
}

.searchBox input{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 250px;
    background: #f1f1f1;
}

.searchBox button{
    float: left;
    width: 70px;
    padding: 10px;
    background-color: rgb(255, 68, 0);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 0;
}